body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BAE9F3;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}



header h1 {
    text-align: center;
    margin: 0;
    font-size: 24px;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
    background: #fff;
}

.instrument {
    margin-bottom: 20px;
}

.instrument h2, .activity h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.instrument-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.instrument-item {
    background: #eee;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}

.instrument-item h3 {
    margin: 0;
    margin-bottom: 10px;
}

.instrument-item button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.instrument-item button:hover {
    background: #77aaff;
}

.activity {
    background: #eee;
    padding: 20px;
    border-radius: 5px;
}

.activity ul {
    list-style: none;
    padding: 0;
}

.activity ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.activity ul li:last-child {
    border-bottom: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
