<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Music Instrument</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='CRSLogo.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleforsignup.css') }}">
</head>
<body>
    <h1>Virtual Music Instrument</h1>
    <div class="logincontainer">
        <h2><a href="signup.html">SignUp</a></h2>
        <form action="/logindone" id="loginform" method="post" enctype="multipart/form-data">
            <input class="input-field" name="name" type="text" placeholder="your name" required>
            <input class="input-field" name="email" type="email" placeholder="example@gmail.com" required>
            <input class="input-field" name="phno" type="tel" placeholder="9xxxxxxxxx" required>
            <input class="input-field" name="pass" type="password" placeholder="password" required>
            <input class="input-field" name="copass" type="password" placeholder="confirm password" required>
            <input class="input-field" name="profile_image" type="file" required>
            <input class="submit-button" type="submit" value="SignUp">
        </form>        
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <p>Already have an account <b><a href="/">Log In</a></b></p>
    </div>
</body>
</html>